.Logo{
    font-family: 'Press Start 2P', sans-serif;
    color: #778beb ;
    font-size: 30px;
    text-shadow: 3px 3px 0px #000;
    margin-top: 12px;
    transition: transform 100ms linear;
 }
 
 .Logo:hover{
    transform: scale(1.08);
 }